
.idea/machine-learning.iml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml
.idea/NLP.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml

try.py
__pycache__/sentence_transform.cpython-35.pyc
__pycache__/__init__.cpython-35.pyc
__pycache__/__init__.cpython-35.pyc
*.pyc
data/demo_score/智能电视_电商_正负面.zip
data/demo_score/电商_智能电视_正面帖_2500条.xlsx
data/demo_score/电商_智能电视_负面帖_2500条.xlsx
data/demo_score/data.xlsx
data/demo_score/~$predict.xlsx
demo/demo_score - 副本.py
data/demo_score/predict.xlsx
data/demo_score/predict.xlsx
testdata/6000document/20180125/predict_v1.xlsx
testdata/6000document/20180125/test_v1.xlsx
testdata/6000document/20180126/predict_v1.xlsx
testdata/6000document/20180126/test_v1.xlsx
testdata/6000document/20180126/update_v1.xlsx
test/6000条原帖.20180125.xlsx
testdata/6000document/20180126/~$update_v1.xlsx


.idea/Text-Classification.iml
data/demo_score/~$data.xlsx
creat_data/config.py
creat_data/try - 副本.py
demo_score - 副本.py
*.xml
*.xml
